PORT=5000
MONGO_URI=mongodb+srv://usmanmasud260_db_user:DRhQyJu5rCIhYD1T@cluster0.rkbdcht.mongodb.net/?appName=Cluster06773bf6dad2eac7f4fa252affb13239
JWT_EXPIRES_IN=7d
AES_SECRET=a6208351c01d0cfd693e30be76a0475b
GEMINI_API_KEY=AIzaSyB7JZmRcIYGhd90E02WKyydYrzo7N-Q7f8
INTERSWITCH_CLIENT_ID=IKIA323590F81785C87C4058EC6F4E9FEC2C91CAC629
INTERSWITCH_CLIENT_SECRET=4C0F0ACE27A6E14247FB40722981BA2A2934D15E
INTERSWITCH_BASE_URL=https://sandbox.interswitchng.com
NODE_ENV=development
